.MoyenContact
{
	margin-left: -3%;
}
.px5
{
margin-top: -2%;
line-height:0px;
}
.px30
{
line-height:30px;
}
form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
    /* Pour voir les limites du formulaire */
    padding: 2em;
    border: 5px solid #CCC;
    border-radius: 2em;
}
form div + div {
    margin-top: 1em;
}
label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 250px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 2px solid #999;
}
input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}
textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    /* Pour donner assez d'espace pour entrer du texte */
    height: 6em;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
}
.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 90px; /* même dimension que les étiquettes */
}

button {
    /* Cette marge représente approximativement le même espace
       que celui entre les étiquettes et les champs textuels */
    margin-left: .5em;
}

table, th, td {
    border: 1px solid black;
}


td .center img{
	max-width: 150px;;
	height: 150px;;
}

td .center{
	text-align: center;
	padding: 10px;
}

td .reserv{
	text-align: center;
}

td .reserv img{
	max-width: 80px;;
	height: 80px;;
}


table{
	width: 100%;
}

div#contenu h1{
	text-align: center;
}

div#contenu .expir p{
	font-size: 1.5em;
	text-align: right;
}
