body
{
	margin: 10px 0 ;
	padding: 0 ;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	background-position:right center;
    background-size: 100% 100%;
	background-image:url(../Images/fond-site-V2.png);
	background-attachment:fixed;
	background-repeat:no-repeat;
	width : 100%;
}

div#conteneur
{
    width: 80% ;
    margin: 0 auto ;
    text-align: left ;
    border: 2px solid black;
    background: white ;
}

h1#header
{
    height: 250px ;
    margin: 0 ;
    background: url(../Images/cadeau-client.png) no-repeat left center ;
}

h1#header a
{
    width: 700px ;
    height: 175px ;
    display: block ;
    background: url(../Images/wishlistbanner11.png) no-repeat right center ;
    position: relative ;
    left: 25% ;
    top: 50px ;
    text-indent: -5000px ;
}

div#contenu
{
    padding: 0 30px 0 30px ;
    /*background: url(../Images/bg_page.png) no-repeat 15px 15px ;*/
}

div#contenu h2
{
    padding-left: 60px ;
    line-height: 50px ;
    font-size: 1.4em ;
    color: #E1BD0E;
    background: url(../Images/cado300.png) no-repeat left bottom ; ;
    border-bottom: 2px solid black ;
}

div#contenu h3
{
    margin-left: 15px ;
    padding-left: 5px ;
    border-bottom: 1px solid #9b2 ;
    border-left: 3px solid #9b2 ;
    color: #b30000 ;
}

div#contenu h1
{
    text-align: center;
}


div#contenu a
{
    color: #8a0 ;
}

div#contenu p
{
    font-size: 2em;
}

div#contenu li
{
    font-size: 2em;
}

div#contenu a:hover
{
    color: #9b2 ;
}

p#footer
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #B8860B ;
}

pre
{
    overflow: auto ;
    background: #dea ;
    border: 2px solid #9b2 ;
    padding: 5px 0 0 5px ;
    font-size: 1.2em ;
}

* html pre
{
    width: 636px ;
}

pre span
{
    color: #560 ;
}

pre span.comment
{
    color: #b30000 ;
}
