.wifeo_pagemenu > a{
	color:#FFFFFF;
	text-decoration:none;
}
 
.wifeo_pagemenu:hover > a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
} 

.wifeo_rubrique > a{
	color:#FFFFFF;
	text-decoration:none;
}
 
.wifeo_rubrique:hover > a{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
 
.wifeo_pagesousmenu > a{
	color:#FFFFFF;
	text-decoration:none;
}
 
.wifeo_conteneur_menu{
	border-spacing:0px;
}
 
.wifeo_conteneur_menu{
	width:100%;
	display:table;
	background-color:#000000;
	height:40px;
	border-bottom:3px solid #A9A9A9;
} 

.wifeo_pagemenu > a, 

.wifeo_rubrique > a{
	background-color:#000000;
	text-decoration:none;
	display:table-cell;
	vertical-align:middle;
	height:40px;
	padding:0 5px;
	width:100%;
	margin:0px;
	font-size:12px;
	text-align:center;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
} 

.wifeo_pagemenu > a:hover, 

.wifeo_pagesousmenu > a:hover{
	background-color:#DAA520;
	font-size:16px;
} 

.wifeo_rubrique:hover > a{
	background-color:#DAA520;
	font-size:16px;
} 

.wifeo_pagemenu, 

.wifeo_rubrique{
	float:left;
	position:relative;
	width:16.67%;
	text-align:center;
	display:table;
} 

.wifeo_sousmenu{
	left:0;
	opacity:0;
	position:absolute;
	top:0;
	visibility:hidden;
	z-index:3;
	width:100%;
} 

@media screen and (min-device-width:1024px){
	.wifeo_sousmenu{
		-webkit-transition:all 0.25s ease;
		-moz-transition:all 0.25s ease;
		-ms-transition:all 0.25s ease;
		-o-transition:all 0.25s ease;
		transition:all 0.25s ease;
	}
} 

.wifeo_sousmenu{
	border-bottom:3px solid #A9A9A9;
} 

.wifeo_rubrique:hover 

.wifeo_sousmenu{
	opacity:1;
	visibility:visible;
	top:40px;
} 

.wifeo_pagesousmenu a{
	background:#000000;
	width:100%;
	display:inline-block;
	height: 20%;
    padding: 10% 0;
	font-size:12px;
	text-align:center;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
